*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: hsl(0, 2%, 23%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}



.container{
    width: 300px;
    height: 280px;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#input{
    width: 80%;
    height: 30px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    border: none;
    box-shadow: 1px 2px 3px black;
    outline: none;
}

button{
    border: none;
    border-radius: 5px;
    color: white;
    background: hsla(217, 100%, 50%, 0.674);
    box-shadow: 1px 2px 3px black;
}

#guessBtn{
    padding: 8px;
    width: 30%;
    margin-bottom: 30px;

}

.p{
    width: 80%;
    text-align: center;
    justify-self: center;
    
}

button:hover{
    background: hsla(217, 86%, 47%, 0.674);

}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}



#startBtn{
    padding: 15px 20px;
    margin-top: 20px;
}

#welcomeLetter{
    display: flex;
    margin: 20px auto;
}

#resultHeader{
    margin: 20px auto;
}

#resultPara{
    margin: 10px auto;
}

#restartBtn{
    padding: 12px 20px;
    margin-top: 15px;
}





.hidden {
    display: none;
}

#resultNum{
    font-size: 24px;
    margin: 15px 0;
}